.header{
   .header-top{
      border-bottom: 1px dashed #E6E6E6;
      .discount{
         background: #DC3E38;
         text-align: center;
         p{
            font-family: "GraphikRegular";
            font-size: 14px;
            color: #fff;
            padding: 7px 0;
         }
      }

      .header-top-child{
         padding: 18px 0;
         @media(max-width: 767px){
            padding: 5px 0;
         }

         .first{
            @media(max-width: 575px){
               width: 72%;
            }
         }
         .second{
            @media(max-width: 575px){
               width: 28%;

               .languag{
                  padding: 0;
               }
            }
         }

         .contacts{
            .img-trustpilot{
               img{
                  width: 100%;
                  max-width: 95px;
                  margin-right: 5px;
               }
   
            }
   
            a{
               color: #000;
               font-family: "GraphikRegular";
               font-size: 15px;
               margin-left: 25px;

               @media(max-width: 767px){
                  margin-left: 10px;
               }
   
               span{
                  color: #DC3E38;
                  margin-right: 5px;
               }
            }
         }
         .language-select{
            .language-dropdown{
               position: relative;

               &:hover{
                  .dropdown-items{
                     display: block;
                     z-index: 9999;
                  }
               }
               
               button{
                  background: #fff;
                  color: #000;
                  border: none;
                  padding: 0 5px;
                  margin: 0;
                  font-size: 15px;
                  font-family: "GraphikRegular";
   
                  &:focus{
                     box-shadow: none;
                  }
               }
   
               .dropdown-items{
                  position: absolute;
                  background: #fff;
                  top: 100%;
                  left: -10px;
                  width: 120%;
                  box-shadow: 0 2px 9px rgba(#D0D0D0, 0.87);
                  border: none;
                  display: none;

                  .dropdown-item{
                     padding: 5px 10px;
                     &:hover{
                        background: #DC3E38;
                        color: #fff;
                     }
                  }
               }
            }
         }
      }
   }

   .main-header{
      .navbar{
         .navbar-brand{
            max-width: 190px;

            @media(max-width: 575px){
               max-width: 120px;
            }
         }

         .navbar-nav{
            .nav-item{
               position: relative;
               &:not(:last-child){
                  margin-right: 10px;
               }

               .sub-drop{
                  position: absolute;
                  top: 100%;
                  left: 0;
                  z-index: 999;
                  background: #fff;
                  width: auto;
                  padding: 0;
                  height: 0;
                  opacity: 0;
                  box-shadow: 0 2px 9px rgba(#D0D0D0, 0.87);
                  border-radius: 3px;
                  margin-bottom: 5px;
                  z-index: -999;

                  @media (max-width: 1199px) {
                     position: static;
                  }


                  li{
                     padding: 0px 15px;

                     a{
                        display: inline-block;
                        padding: 10px 5px;
                        color: #000;
                        white-space: nowrap;
                     }

                     &:hover{
                        background: #DC3E38;

                        a{
                           color: #fff;
                           width: 100%;
                        }
                     }
                  }
               }

               .nav-link{
                  font-family: "GraphikRegular";
                  font-size: 16px;
                  color: #000;

                  &:hover{
                     color: #DC3E38;
                  }
               }
            }

            .nav-item:hover > .sub-drop{
               height: auto;
               opacity: 1;
               z-index: 999;
            }
         }
      }

      .mobile-nav{
         @media(max-width: 1199px){
         top: 100%;
         left: 0;
         width: 100%;
         background: rgba(255, 255, 255, 0.965);
         z-index: 99999;
         position: absolute;
         
            ul{
               padding: 25px;
            }
         }
      }

      .User-and-cart{
         .user{
            .name{
               font-family: "GraphikMedium";
               font-size: 14px;

               span{
                  font-family: "GraphikRegular";
                  font-size: 14px;
                  margin-right: 5px;
               }
            }
            .account{
               font-family: "GraphikMedium";
               font-size: 17px;
               color: #000;
               span{
                  color: #DC3E38;
               }
            }
         }

         .cart{
            .fa-shopping-cart{
               font-size: 22px;
               color: #DC3E38;
            }

            .number{
               background: #FFECEB;
               display: inline-block;
               padding-inline: 15px;
               border-radius: 10px;
               color: #DC3E38;
            }
         }
      }
   }

   .header-bottom{
      background: #1D1D1D;

      .dropdown{
         position: relative;

         .btn-dropdown{
            background: #DC3E38;
            color: #fff;
            border-radius: 0;
            font-family: "GraphikMedium";
            font-size: 15px;
            padding: 20px 25px; 
            // @media(max-width: 767px){
            //    width: 100%;
            // }

            span{
               margin-right: 10px;
            }
   
            &:focus{
               box-shadow: none;
            }
         }
   
         .dropdown-menu{
            position: absolute;
            width: 261px;  
            top: -4px !important;  
            border-radius: 0;        
            background: #DC3E38;
            border: none;

            .dropdown-item{
               color: #fff;
               margin: 5px 0;
               span{
                  margin-right: 10px;

                  i{
                     font-size: 15px;
                  }
               }

               &:hover{
                  color: #DC3E38;
                  background: #fff;
               }
            }
         }
      }

      .search-area{

         .small-search{
            background: #fff;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
               font-size: 25px;
               height: 50px;
               width: 50px;
               display: flex;
               align-items: center;
               justify-content: center;
            }
         }
         .src-input{
            background: #fff;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
            width: 100%;
            max-width: 385px;
            padding-left: 15px;

            input{
               border: none;
               width: 100%;
               padding-left: 10px;
            }
         }
 
         .btn-search{
            background: #DC3E38;
            color: #fff;
            font-family: "GraphikMedium";
            font-size: 15px;
            padding: 12px 15px;
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
            border: none;
         }
      }
   }
}